<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.YDOnlineTaxi.mapper.ArrivalAuditInformationMapper">
    
    <resultMap type="com.ruoyi.YDOnlineTaxi.domain.ArrivalAuditInformation" id="ArrivalAuditInformationResult">
        <result property="orderid"    column="orderId"    />
        <result property="extraOrderPoints"    column="extra_order_points"    />
        <result property="notes"    column="notes"    />
        <result property="proofPhoto1"    column="proof_photo1"    />
        <result property="proofPhoto2"    column="proof_photo2"    />
    </resultMap>

    <sql id="selectArrivalAuditInformationVo">
        select orderId, extra_order_points, notes, proof_photo1, proof_photo2 from YDOnlineTaxi.arrival_audit_information
    </sql>

    <select id="selectArrivalAuditInformationList" parameterType="com.ruoyi.YDOnlineTaxi.domain.ArrivalAuditInformation" resultMap="ArrivalAuditInformationResult">
        <include refid="selectArrivalAuditInformationVo"/>
        <where>  
            <if test="orderid != null  and orderid != ''"> and orderId = #{orderid}</if>
            <if test="extraOrderPoints != null "> and extra_order_points = #{extraOrderPoints}</if>
            <if test="notes != null  and notes != ''"> and notes = #{notes}</if>
            <if test="proofPhoto1 != null  and proofPhoto1 != ''"> and proof_photo1 = #{proofPhoto1}</if>
            <if test="proofPhoto2 != null  and proofPhoto2 != ''"> and proof_photo2 = #{proofPhoto2}</if>
        </where>
    </select>
    
    <select id="selectArrivalAuditInformationByOrderid" parameterType="String" resultMap="ArrivalAuditInformationResult">
        <include refid="selectArrivalAuditInformationVo"/>
        where orderId = #{orderid}
    </select>
        
    <insert id="insertArrivalAuditInformation" parameterType="com.ruoyi.YDOnlineTaxi.domain.ArrivalAuditInformation">
        insert into YDOnlineTaxi.arrival_audit_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderid != null and orderid != ''">orderId,</if>
            <if test="extraOrderPoints != null">extra_order_points,</if>
            <if test="notes != null">notes,</if>
            <if test="proofPhoto1 != null">proof_photo1,</if>
            <if test="proofPhoto2 != null">proof_photo2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderid != null and orderid != ''">#{orderid},</if>
            <if test="extraOrderPoints != null">#{extraOrderPoints},</if>
            <if test="notes != null">#{notes},</if>
            <if test="proofPhoto1 != null">#{proofPhoto1},</if>
            <if test="proofPhoto2 != null">#{proofPhoto2},</if>
         </trim>
    </insert>

    <update id="updateArrivalAuditInformation" parameterType="com.ruoyi.YDOnlineTaxi.domain.ArrivalAuditInformation">
        update YDOnlineTaxi.arrival_audit_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="extraOrderPoints != null">extra_order_points = #{extraOrderPoints},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="proofPhoto1 != null">proof_photo1 = #{proofPhoto1},</if>
            <if test="proofPhoto2 != null">proof_photo2 = #{proofPhoto2},</if>
        </trim>
        where orderId = #{orderid}
    </update>

    <delete id="deleteArrivalAuditInformationByOrderid" parameterType="String">
        delete from YDOnlineTaxi.arrival_audit_information where orderId = #{orderid}
    </delete>

    <delete id="deleteArrivalAuditInformationByOrderids" parameterType="String">
        delete from YDOnlineTaxi.arrival_audit_information where orderId in
        <foreach item="orderid" collection="array" open="(" separator="," close=")">
            #{orderid}
        </foreach>
    </delete>
</mapper>