<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.YDOnlineTaxi.mapper.OrderInformationMapper">
    <sql id="Base_Column_List">
        order_id,
        departure,
        destination,
        transport_time,
        requirement_types,
        car_type,
        passenger,
        passenger_phone,
        points,
        note,
        order_status,
        refuse_reason,
        expire_time
    </sql>
    <resultMap type="com.ruoyi.YDOnlineTaxi.domain.OrderInformation" id="OrderInformationResult">
        <result property="orderId"    column="order_id"    />
        <result property="departure"    column="departure"    />
        <result property="destination"    column="destination"    />
        <result property="transportTime"    column="transport_time"    />
        <result property="requirementTypes"    column="requirement_types"    />
        <result property="carType"    column="car_type"    />
        <result property="passenger"    column="passenger"    />
        <result property="passengerPhone"    column="passenger_phone"    />
        <result property="points"    column="points"    />
        <result property="note"    column="note"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="refuseReason"    column="refuse_reason"    />
        <result property="expireTime"    column="expire_time"    />
    </resultMap>

    <sql id="selectOrderInformationVo">
        select order_id, departure, destination, transport_time, requirement_types, car_type, passenger, passenger_phone, points, note, order_status, refuse_reason, expire_time from YDOnlineTaxi.order_information
    </sql>

    <select id="selectOrderInformationList" parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderInformation" resultMap="OrderInformationResult">
        <include refid="selectOrderInformationVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="departure != null  and departure != ''"> and departure = #{departure}</if>
            <if test="destination != null  and destination != ''"> and destination = #{destination}</if>
            <if test="transportTime != null "> and transport_time like concat('%', #{transportTime}, '%')</if>
            <if test="requirementTypes != null  and requirementTypes != ''"> and requirement_types = #{requirementTypes}</if>
            <if test="carType != null  and carType != ''"> and car_type = #{carType}</if>
            <if test="passenger != null  and passenger != ''"> and passenger = #{passenger}</if>
            <if test="passengerPhone != null  and passengerPhone != ''"> and passenger_phone = #{passengerPhone}</if>
            <if test="points != null "> and points = #{points}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and order_status = #{orderStatus}</if>
        </where>
        order by transport_time
    </select>
    
    <select id="selectOrderInformationByOrderId" parameterType="String" resultMap="OrderInformationResult">
        <include refid="selectOrderInformationVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertOrderInformation" parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderInformation">
        insert into YDOnlineTaxi.order_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="departure != null and departure != ''">departure,</if>
            <if test="destination != null and destination != ''">destination,</if>
            <if test="transportTime != null">transport_time,</if>
            <if test="requirementTypes != null and requirementTypes != ''">requirement_types,</if>
            <if test="carType != null and carType != ''">car_type,</if>
            <if test="passenger != null and passenger != ''">passenger,</if>
            <if test="passengerPhone != null and passengerPhone != ''">passenger_phone,</if>
            <if test="points != null">points,</if>
            <if test="note != null">note,</if>
            <if test="orderStatus != null and orderStatus != ''">order_status,</if>
            <if test="refuseReason != null">refuse_reason,</if>
            <if test="expireTime != null">expire_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="departure != null and departure != ''">#{departure},</if>
            <if test="destination != null and destination != ''">#{destination},</if>
            <if test="transportTime != null">#{transportTime},</if>
            <if test="requirementTypes != null and requirementTypes != ''">#{requirementTypes},</if>
            <if test="carType != null and carType != ''">#{carType},</if>
            <if test="passenger != null and passenger != ''">#{passenger},</if>
            <if test="passengerPhone != null and passengerPhone != ''">#{passengerPhone},</if>
            <if test="points != null">#{points},</if>
            <if test="note != null">#{note},</if>
            <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
            <if test="refuseReason != null">#{refuseReason},</if>
            <if test="expireTime != null">#{expireTime},</if>
         </trim>
    </insert>

    <update id="updateOrderInformation" parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderInformation">
        update YDOnlineTaxi.order_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="departure != null and departure != ''">departure = #{departure},</if>
            <if test="destination != null and destination != ''">destination = #{destination},</if>
            <if test="transportTime != null">transport_time = #{transportTime},</if>
            <if test="requirementTypes != null and requirementTypes != ''">requirement_types = #{requirementTypes},</if>
            <if test="carType != null and carType != ''">car_type = #{carType},</if>
            <if test="passenger != null and passenger != ''">passenger = #{passenger},</if>
            <if test="passengerPhone != null and passengerPhone != ''">passenger_phone = #{passengerPhone},</if>
            <if test="points != null">points = #{points},</if>
            <if test="note != null">note = #{note},</if>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="refuseReason != null">refuse_reason = #{refuseReason},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrderInformationByOrderId" parameterType="String">
        delete from YDOnlineTaxi.order_information where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderInformationByOrderIds" parameterType="String">
        delete from YDOnlineTaxi.order_information where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

<!--auto generated by MybatisCodeHelper on 2021-09-14-->
    <select id="selectOrderStatusByOrderId" resultType="java.lang.String">
        select order_status
        from YDOnlineTaxi.order_information
        <where>
            <if test="orderId != null">
                and order_id=#{orderId}
            </if>
        </where>
    </select>


<!--auto generated by MybatisCodeHelper on 2021-09-16-->
    <select id="getOrderInformationListByConditions"
            parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderInformation"
            resultMap="OrderInformationResult">
        <include refid="selectOrderInformationVo"/>

        <where>
            (
            <if test="likeCarType1 != null and likeCarType1 != ''">car_type = #{likeCarType1}</if>
            <if test="likeCarType2 != null and likeCarType2 != ''">or car_type = #{likeCarType2}</if>
            <if test="likeCarType3 != null and likeCarType3 != ''">or car_type = #{likeCarType3}</if>
            )
            and
            (
            order_status = #{likeOrderStatus}
            <if test="minTransportTime != null and minTransportTime != ''"><![CDATA[and DATE_FORMAT(transport_time,'%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(#{minTransportTime},'%Y-%m-%d %H:%i:%s')]]></if>
            <if test="maxTransportTime != null and maxTransportTime != ''"><![CDATA[and DATE_FORMAT(transport_time,'%Y-%m-%d %H:%i:%s') <= DATE_FORMAT(#{maxTransportTime},'%Y-%m-%d %H:%i:%s')]]></if>
            <if test="requirementTypes != null and requirementTypes != ''">and requirement_types=#{requirementTypes}</if>
            )
        </where>
        order by transport_time,points desc
    </select>

<!--auto generated by MybatisCodeHelper on 2021-09-19-->
    <select id="selectAllByOrderIdAndTransportTimeBetween" resultMap="OrderInformationResult">
        select
        <include refid="Base_Column_List"/>
        from YDOnlineTaxi.order_information
        where order_id=#{orderId}
        <![CDATA[and DATE_FORMAT(transport_time,'%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(#{minTransportTime},'%Y-%m-%d %H:%i:%s')]]>
        <![CDATA[and DATE_FORMAT(transport_time,'%Y-%m-%d %H:%i:%s') <= DATE_FORMAT(#{maxTransportTime},'%Y-%m-%d %H:%i:%s')]]>
    </select>
</mapper>