<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.YDOnlineTaxi.mapper.OrderDetailsMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.YDOnlineTaxi.domain.OrderDetails">
        <!--@mbg.generated-->
        <!--@Table YDOnlineTaxi.order_details-->
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="driver_name" jdbcType="VARCHAR" property="driverName"/>
        <result column="driver_phone_number" jdbcType="CHAR" property="driverPhoneNumber"/>
        <result column="driver_car_id" jdbcType="CHAR" property="driverCarId"/>
        <result column="order_took_time" jdbcType="TIMESTAMP" property="orderTookTime"/>
        <result column="departure_location" jdbcType="VARCHAR" property="departureLocation"/>
        <result column="departure_time" jdbcType="TIMESTAMP" property="departureTime"/>
        <result column="arrival_location" jdbcType="VARCHAR" property="arrivalLocation"/>
        <result column="arrival_rime" jdbcType="TIMESTAMP" property="arrivalRime"/>
        <result column="order_finish_time" jdbcType="TIMESTAMP" property="orderFinishTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        order_id, driver_name, driver_phone_number, driver_car_id, order_took_time, departure_location,
        departure_time, arrival_location, arrival_rime, order_finish_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from YDOnlineTaxi.order_details
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from YDOnlineTaxi.order_details
        where order_id = #{orderId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderDetails">
        <!--@mbg.generated-->
        insert into YDOnlineTaxi.order_details (order_id, driver_name, driver_phone_number,
                                                driver_car_id, order_took_time, departure_location,
                                                departure_time, arrival_location, arrival_rime,
                                                order_finish_time)
        values (#{orderId,jdbcType=VARCHAR}, #{driverName,jdbcType=VARCHAR}, #{driverPhoneNumber,jdbcType=CHAR},
                #{driverCarId,jdbcType=CHAR}, #{orderTookTime,jdbcType=TIMESTAMP},
                #{departureLocation,jdbcType=VARCHAR},
                #{departureTime,jdbcType=TIMESTAMP}, #{arrivalLocation,jdbcType=VARCHAR},
                #{arrivalRime,jdbcType=TIMESTAMP},
                #{orderFinishTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderDetails">
        <!--@mbg.generated-->
        insert into YDOnlineTaxi.order_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="driverName != null">
                driver_name,
            </if>
            <if test="driverPhoneNumber != null">
                driver_phone_number,
            </if>
            <if test="driverCarId != null">
                driver_car_id,
            </if>
            <if test="orderTookTime != null">
                order_took_time,
            </if>
            <if test="departureLocation != null">
                departure_location,
            </if>
            <if test="departureTime != null">
                departure_time,
            </if>
            <if test="arrivalLocation != null">
                arrival_location,
            </if>
            <if test="arrivalRime != null">
                arrival_rime,
            </if>
            <if test="orderFinishTime != null">
                order_finish_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="driverName != null">
                #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="driverPhoneNumber != null">
                #{driverPhoneNumber,jdbcType=CHAR},
            </if>
            <if test="driverCarId != null">
                #{driverCarId,jdbcType=CHAR},
            </if>
            <if test="orderTookTime != null">
                #{orderTookTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departureLocation != null">
                #{departureLocation,jdbcType=VARCHAR},
            </if>
            <if test="departureTime != null">
                #{departureTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arrivalLocation != null">
                #{arrivalLocation,jdbcType=VARCHAR},
            </if>
            <if test="arrivalRime != null">
                #{arrivalRime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderFinishTime != null">
                #{orderFinishTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderDetails">
        <!--@mbg.generated-->
        update YDOnlineTaxi.order_details
        <set>
            <if test="driverName != null">
                driver_name = #{driverName,jdbcType=VARCHAR},
            </if>
            <if test="driverPhoneNumber != null">
                driver_phone_number = #{driverPhoneNumber,jdbcType=CHAR},
            </if>
            <if test="driverCarId != null">
                driver_car_id = #{driverCarId,jdbcType=CHAR},
            </if>
            <if test="orderTookTime != null">
                order_took_time = #{orderTookTime,jdbcType=TIMESTAMP},
            </if>
            <if test="departureLocation != null">
                departure_location = #{departureLocation,jdbcType=VARCHAR},
            </if>
            <if test="departureTime != null">
                departure_time = #{departureTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arrivalLocation != null">
                arrival_location = #{arrivalLocation,jdbcType=VARCHAR},
            </if>
            <if test="arrivalRime != null">
                arrival_rime = #{arrivalRime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderFinishTime != null">
                order_finish_time = #{orderFinishTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.YDOnlineTaxi.domain.OrderDetails">
        <!--@mbg.generated-->
        update YDOnlineTaxi.order_details
        set driver_name         = #{driverName,jdbcType=VARCHAR},
            driver_phone_number = #{driverPhoneNumber,jdbcType=CHAR},
            driver_car_id       = #{driverCarId,jdbcType=CHAR},
            order_took_time     = #{orderTookTime,jdbcType=TIMESTAMP},
            departure_location  = #{departureLocation,jdbcType=VARCHAR},
            departure_time      = #{departureTime,jdbcType=TIMESTAMP},
            arrival_location    = #{arrivalLocation,jdbcType=VARCHAR},
            arrival_rime        = #{arrivalRime,jdbcType=TIMESTAMP},
            order_finish_time   = #{orderFinishTime,jdbcType=TIMESTAMP}
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2021-09-17-->
    <select id="selectAllByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from YDOnlineTaxi.order_details
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-09-17-->
    <select id="selectAllByDriverPhoneNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from YDOnlineTaxi.order_details
        where driver_phone_number = #{driverPhoneNumber,jdbcType=CHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-09-17-->
    <select id="selectOrderIdByDriverPhoneNumber" resultType="java.lang.String">
        select order_id
        from YDOnlineTaxi.order_details
        where driver_phone_number = #{driverPhoneNumber,jdbcType=CHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-11-10-->
    <select id="selectOrderId" resultType="java.lang.String">
        select order_id
        from YDOnlineTaxi.order_details
    </select>
</mapper>