<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.YDOnlineTaxi.mapper.WxWithDriversMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.YDOnlineTaxi.domain.WxWithDrivers">
    <!--@mbg.generated-->
    <!--@Table YDOnlineTaxi.wx_with_drivers-->
    <result column="driver_name" jdbcType="CHAR" property="driverName" />
    <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
    <result column="machine_id" jdbcType="CHAR" property="machineId" />
    <result column="driver_level" jdbcType="CHAR" property="driverLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    driver_name, phone_number, machine_id, driver_level
  </sql>
  <insert id="insert" parameterType="com.ruoyi.YDOnlineTaxi.domain.WxWithDrivers">
    <!--@mbg.generated-->
    insert into YDOnlineTaxi.wx_with_drivers (driver_name, phone_number, machine_id)
    values (#{driverName,jdbcType=CHAR}, #{phoneNumber,jdbcType=CHAR}, #{machineId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.YDOnlineTaxi.domain.WxWithDrivers">
    <!--@mbg.generated-->
    insert into YDOnlineTaxi.wx_with_drivers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="driverName != null">
        driver_name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="machineId != null">
        machine_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="driverName != null">
        #{driverName,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="machineId != null">
        #{machineId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectMachineId" resultType="java.lang.String">
    select machine_id
    from YDOnlineTaxi.wx_with_drivers
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectOpenIdByPushTimesGreaterThan" resultType="java.lang.String">
    select machine_id
    from YDOnlineTaxi.wx_with_drivers

  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from YDOnlineTaxi.wx_with_drivers
  </select>


<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectAllByMachineId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from YDOnlineTaxi.wx_with_drivers
    <where>
      <if test="machineId != null">
        and machine_id=#{machineId,jdbcType=CHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-18-->
  <update id="updateByMachineId">
    update YDOnlineTaxi.wx_with_drivers
    <trim prefix="SET" suffixOverrides=",">
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="driverLevel != null">
        driver_level = #{driverLevel,jdbcType=CHAR},
      </if>
    </trim>
      where machine_id = #{machineId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-09-18-->
  <select id="selectMachineIdByDriverLevel" resultType="java.lang.String">
    select machine_id
    from YDOnlineTaxi.wx_with_drivers
    where driver_level=#{driverLevel}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-18-->
  <select id="selectAllByDriverLevel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from YDOnlineTaxi.wx_with_drivers
    where driver_level=#{driverLevel}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-22-->
  <select id="selectMachineIdByPhoneNumber" resultType="java.lang.String">
        select machine_id
        from YDOnlineTaxi.wx_with_drivers
        where phone_number=#{phoneNumber,jdbcType=CHAR}
    </select>


<!--auto generated by MybatisCodeHelper on 2021-09-22-->
  <select id="countByPhoneNumber" resultType="java.lang.Integer">
    select count(1)
    from YDOnlineTaxi.wx_with_drivers
    where phone_number=#{phoneNumber,jdbcType=CHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-10-19-->
  <update id="updateMachineIdByPhoneNumber">
        update YDOnlineTaxi.wx_with_drivers
        set machine_id=#{updatedMachineId,jdbcType=CHAR}
        where phone_number=#{phoneNumber,jdbcType=CHAR}
    </update>
</mapper>