<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.YDOnlineTaxi.mapper.WxWithDriversMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.YDOnlineTaxi.domain.WxWithDrivers">
    <!--@mbg.generated-->
    <!--@Table YDOnlineTaxi.wx_with_drivers-->
    <result column="driver_name" jdbcType="CHAR" property="driverName" />
    <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
    <result column="open_Id" jdbcType="CHAR" property="openId" />
    <result column="push_times" jdbcType="INTEGER" property="pushTimes" />
    <result column="driver_level" jdbcType="CHAR" property="pushTimes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    driver_name, phone_number, open_Id, push_times, driver_level
  </sql>
  <insert id="insert" parameterType="com.ruoyi.YDOnlineTaxi.domain.WxWithDrivers">
    <!--@mbg.generated-->
    insert into YDOnlineTaxi.wx_with_drivers (driver_name, phone_number, open_Id,
      push_times)
    values (#{driverName,jdbcType=CHAR}, #{phoneNumber,jdbcType=CHAR}, #{openId,jdbcType=CHAR}, 
      #{pushTimes,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.YDOnlineTaxi.domain.WxWithDrivers">
    <!--@mbg.generated-->
    insert into YDOnlineTaxi.wx_with_drivers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="driverName != null">
        driver_name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="openId != null">
        open_Id,
      </if>
      <if test="pushTimes != null">
        push_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="driverName != null">
        #{driverName,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=CHAR},
      </if>
      <if test="pushTimes != null">
        #{pushTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectOpenId" resultType="java.lang.String">
    select open_Id
    from YDOnlineTaxi.wx_with_drivers
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectOpenIdByPushTimesGreaterThan" resultType="java.lang.String">
    select open_Id
    from YDOnlineTaxi.wx_with_drivers
    <where>
      <if test="minPushTimes != null">
        and push_times <![CDATA[>]]> #{minPushTimes,jdbcType=INTEGER}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from YDOnlineTaxi.wx_with_drivers
  </select>


<!--auto generated by MybatisCodeHelper on 2021-09-14-->
  <select id="selectAllByOpenId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from YDOnlineTaxi.wx_with_drivers
    <where>
      <if test="openId != null">
        and open_Id=#{openId,jdbcType=CHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-18-->
  <update id="updateByOpenId">
    update YDOnlineTaxi.wx_with_drivers
    <trim prefix="SET" suffixOverrides=",">
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=CHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="pushTimes != null">
        push_times = #{pushTimes,jdbcType=INTEGER},
      </if>
      <if test="driverLevel != null">
        driver_level = #{driverLevel,jdbcType=CHAR},
      </if>
    </trim>
      where open_Id = #{openId}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-09-18-->
  <select id="selectOpenIdByDriverLevel" resultType="java.lang.String">
    select open_Id
    from YDOnlineTaxi.wx_with_drivers
    where driver_level=#{driverLevel}
    and push_times > 0
  </select>

<!--auto generated by MybatisCodeHelper on 2021-09-18-->
  <select id="selectAllByDriverLevel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from YDOnlineTaxi.wx_with_drivers
    where null=#{driverLevel}
  </select>

  <!--auto generated by MybatisCodeHelper on 2021-09-14-->
</mapper>